$font-stack: 'Open Sans';
$text-color: white;
$font-size: 24px;
@mixin display-flex {
  display: flex;
}
@mixin margin-auto {
  margin: auto;
}
@mixin shadow-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@mixin shadow-button-hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* -MAIN PAGE- */

.bodyMain {
  font: 100% $font-stack;
  color: $text-color;
  background-color: #C9009C;
}
.bodyMain-headerMainPage {
  @include display-flex;
}

.bodyMain-headerMainPage-logoMain--center {
@include margin-auto;
  padding-top: 90px;
}
.bodyMain-mainMainPage-sectionText--center {
  font-size: $font-size;
    @include display-flex;
}
.bodyMain-mainMainPage-sectionText--center-paragraph--center {
@include margin-auto;
padding: 80px 0 0 0;
text-align: center;
}
.bodyMain-mainMainPage-sectionButton--center {
  @extend .bodyMain-mainMainPage-sectionText--center;
}
.bodyMain-mainMainPage-sectionButton--center-startButton-center {
  @include margin-auto;
  margin-top: 70px;
  padding: 25px 50px;
  font-size: $font-size;
  color: $text-color;
  background-color: #7F266C;
  border-radius: 5px;
  border: 0;
  @include shadow-button;
}
.bodyMain-mainMainPage-sectionButton--center-startButton-center:hover {
  @include shadow-button-hover;
}
/* - MAIN PAGE END - */

/* Styling the question page */
.bodyQuestion {
  background-color: #FF6E00;
  color: $text-color;
  font: 100% $font-stack;
  text-align: center;
  font-size: 30px;
}
 .bodyQuestion-mainQuestionPage-nextButton--center {
   @include margin-auto;
   margin-top: 70px;
   padding: 25px 50px;
   font-size: $font-size;
   color: $text-color;
   background-color: #7F266C;
   border-radius: 5px;
   border: 0;
   @include shadow-button;

   @extend .bodyMain-mainMainPage-sectionButton--center-startButton-center;
   background-color: #FFA91F;
   margin-bottom: 50px;

}
.bodyQuestion-questionPage {
  @include display-flex;
  justify-content: flex-start;
}
.bodyQuestion p {
  font-weight: bold;
}


/* ending question page */
/* styling result page */
.bodyResult {
  background-color: #0FCBBF;
  color: $text-color;
  font: 100% $font-stack;
  text-align: center;
  font-size: $font-size;
}
.bodyResult-headerResultPage {
  @extend .bodyQuestion-questionPage;
}
.bodyResult-mainResultPage-shareButton--center {
  @extend  .bodyMain-mainMainPage-sectionButton--center-startButton-center;
  background-color: #0A8A82;
  margin-top: 30px;
}
.bodyResult-mainResultPage-heading-bigSize {
  font-size: 40px;
  font-weight: bold;
}
