$font-stack: 'Open Sans';
$text-color: white;
$font-size: 24px;
@mixin display-flex {
  display: flex;
}
@mixin margin-auto {
  margin: auto;
}
@mixin shadow-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@mixin shadow-button-hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* -MAIN PAGE- */

.bodyMain {
  font: 100% $font-stack;
  color: $text-color;
  background-color: #C9009C;
}
.bodyMain-headerMainPage {
  @include display-flex;
}

.bodyMain-headerMainPage-logoMain--center {
@include margin-auto;
  padding-top: 90px;
}
.bodyMain-mainMainPage-sectionText--center {
  font-size: $font-size;
    @include display-flex;
}
.bodyMain-mainMainPage-sectionText--center-paragraph--center {
@include margin-auto;
padding: 80px 0 0 0;
}
.bodyMain-mainMainPage-sectionButton--center {
  @extend .bodyMain-mainMainPage-sectionText--center;
}
.bodyMain-mainMainPage-sectionButton--center-startButton-center {
  @include margin-auto;
  margin-top: 70px;
  padding: 25px 50px;
  font-size: $font-size;
  color: $text-color;
  background-color: #7F266C;
  border-radius: 5px;
  border: 0;
  @include shadow-button;
}
.bodyMain-mainMainPage-sectionButton--center-startButton-center:hover {
  @include shadow-button-hover;
}
/* - MAIN PAGE END - */

/* Styling the question page */
.bodyQuestion {
  background-color: blue;
  color: $text-color;
  font: 100% $font-stack;
  text-align: center;
}
<<<<<<< HEAD
 .bodyQuestion-mainQuestionPage-nextButton--center {
   @@include margin-auto;
   margin-top: 70px;
   padding: 25px 50px
   font-size:$font-size;
   color: $text-color;
   background-color: #7F266C;
   border-radius:5px;
   border: 0;
   @include shadow-button;
   }

@mixin shadow-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@mixin shadow-button-hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
=======

.bodyQuestion-questionPage {
  @include display-flex;
  justify-content: flex-start;
}

/* -- result page styling -- */
.bodyResult {
  background-color: #0FCBBF;
  color: $text-color;
  font: 100% $font-stack;
  text-align: center;
}
.bodyResult-headerResultPage {
  @extend .bodyQuestion-questionPage;
>>>>>>> c924644aa757dfa86913a9c9ea7d434fc8d81778
}
.bodyMain-mainMainPage-sectionButton--center-startButton-center {
  @extend .bodyResult-mainResultPage-shareButton--center;
}
