<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SoulPet</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/style.css.map">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body class="bodyQuestion">

  <header class="bodyQuestion-questionPage">
<img class="bodyQuestion-questionPage-logoQuestion--positionLeftCorner" src="img/logosmall.png" alt="logo on subpages"/>

  </header>

  <main class="bodyQuestion-mainQuestionPage">

<section class="bodyQuestion-mainQuestionPage-sectionQuestionOne--center" class="displayNone">
  <p class="displayNone">
    What's your gender?
  </p>
  <form action="" class="bodyQuestion-mainQuestionPage-radiobuttons--center">
  <input type="radio" name="gender" value="male"> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other
</form>
</section>
<section class="bodyQuestion-mainQuestionPage-sectionQuestionTwo--center" class="displayNone">
  <p>
    What's your relationship status?
  </p>
</section>
<form action="" class="bodyQuestion-mainQuestionPage-radiobuttons--center">
  <input type="radio" name="relationship-status" value="single">Single
  <input type="radio" name="relationship-status" value="in a relationship">In a relationship
</form>
<section class="bodyQuestion-mainQuestionPage-sectionQuestionThree--center" class="displayNone">
  <p>
    Are you more than 170cm tall?
  </p>
  <form action="" class="bodyQuestion-mainQuestionPage-radiobuttons--center">
  <input type="radio" name="height" value="yes">Yes
  <input type="radio" name="height" value="no">No
</form>
    </section>
  <section class="bodyQuestion-mainQuestionPage-sectionQuestionFour--center" class="displayNone">
  <p>
    Are you left or right handed?
  </p>
  <form action="" class="bodyQuestion-mainQuestionPage-radiobuttons--center">
  <input type="radio" name="handed" value="right">Right
  <input type="radio" name="handed" value="left">Left
</form>
</section>
<section class="bodyQuestion-mainQuestionPage-sectionQuestionFive--center" class="displayNone">
<p >
  What's your favorite color?
</p>
<form action="" class="bodyQuestion-mainQuestionPage-radiobuttons--center">
<div v-if="type==='blue'"><input type="radio" name="color" value="blue">Blue</div>
<div v-if="type==='orange'"><input type="radio" name="color" value="orange">Orange</div>
<div v-if="type==='black'"><input type="radio" name="color" value="black">Black</div>
<div v-if="type==='beige'"><input type="radio" name="color" value="beige">Beige</div>
<div v-if="type==='green'"><input type="radio" name="color" value="green">Green</div>
</form>
</section>
<section class="bodyQuestion-mainQuestionPage-sectionButton-center">
<button class="bodyQuestion-mainQuestionPage-nextButton--center">Next Question</button>
</section>
  </main>
<script src="js/javascript.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</body>
</html>
